
// Urbanist Regular
@font-face {
    src: url('@/assets/Urbanist-Regular.ttf') format('ttf');
    font-family: "Urbanist", sans-serif;
    font-weight: $font-weight-normal;
    font-style: normal;
}

/*
body {
    font-family: 'Urbanist', sans-serif;
}
*/

// Urbanist Italic
@font-face {
    src: url('@/assets/Urbanist-Italic.ttf') format('ttf');
    font-family: "Urbanist", sans-serif;
    font-weight: $font-weight-normal;
    font-style: italic;
}

// Urbanist Bold
@font-face {
    src: url('@/assets/Urbanist-Bold.ttf') format('ttf');
    font-family: "Urbanist", sans-serif;
    font-weight: $font-weight-bold;
    font-style: normal;
}

// Urbanist Bold Italic
@font-face {
    src: url('@/assets/Urbanist-BoldItalic.ttf') format('ttf');
    font-family: "Urbanist", sans-serif;
    font-weight: $font-weight-bold;
    font-style: italic;
}

h1,
.h1 {
    letter-spacing: 2px;
    line-height: 1.6;
}

h2,
.h2 {
    letter-spacing: 1.2px;
    line-height: 1.3;
}

p,
.p {
    letter-spacing: .3px;
}
