/* Error: Can't find stylesheet to import.
 *    ,
 * 34 | @import "bootstrap/scss/functions";
 *    |         ^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   vendors/_bootstrap.scss 34:9  @import
 *   _overrides.scss 2:9           @import
 *   styles.scss 2:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 34 \2502  @import \"bootstrap/scss/functions\";\a    \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   vendors/_bootstrap.scss 34:9  @import\a   _overrides.scss 2:9           @import\a   styles.scss 2:9               root stylesheet";
}
